@model IEnumerable<Song>

@{
    string strTitle = "Список песен";
    ViewBag.Title = strTitle;
}
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Панель администратора</a>
<a asp-area="Admin" asp-controller="Songs" asp-action="Create">Добавить</a>
<div class="table__container">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CoverPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Album.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SongPerformers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListensNumber)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    <img src="~/uploads/covers/@(Html.DisplayFor(modelItem => item.CoverPath))" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Title)
                </td>
                <td>
                    <div>
                    @foreach (var songPerformers in item.SongPerformers)
                    {
                        <span>@Html.DisplayFor(modelItem => songPerformers.Performer.PerformerName)</span>
                    }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListensNumber)
                </td>
                <td>
                    <div class="table__link">
                        <a asp-area="Admin" asp-controller="Songs" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a asp-area="Admin" asp-controller="Songs" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a asp-area="Admin" asp-controller="Songs" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
